@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  font-family: "Source Code Pro", monospace;
  --main-color:rgb(135, 66, 182);
  --main-color2:#EE2A5F;
}
.space{
    margin-top: 150px;
}


/* Nav Bar */
.navPosition{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
nav .navbar-brand{
    font-size: 30px;
}
nav a{
    color: var(--main-color) !important;
    transition: .5s;
}
nav a:hover{
    color: var(--main-color2) !important;
}

/* Home Page */
.homePage{
    min-height: 90vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.497) , rgba(0, 0, 0, 0.377))  , url(../imgs/clothes.jpg);
    background-size: cover;
    background-position: center;
}
.homePage .content h3{
    font-size: 63px;
    font-weight: 700;
    letter-spacing: 4px;
}
.homePage .content p{
    font-size: 23px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
}
.homePage .content button{
    background-color: var(--main-color);
    transition: .5s;
}
.homePage .content button:hover{
    background-color: var(--main-color2);
    text-decoration: underline;
}

/* About Page */
/* .aboutPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.497) , rgba(0, 0, 0, 0.377)) , url(../imgs/about1.jpg);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
} */
.aboutPage .row1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.497) , rgba(0, 0, 0, 0.377)) , url(../imgs/about1.jpg);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}
.aboutPage .row1 .content span{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 8px;
}
.aboutPage .row1 .content h3{
    font-size: 65px;
}
.aboutPage .row1 .content p{
    color: rgba(255, 255, 255, 0.8);
}
.aboutPage .row2 .item p{
    font-size:60px ;
}
.aboutPage .row2 .item span{
    color: rgb(165, 165, 165);
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
